*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
   background-image: url("bg.jpeg");
}
header{
    background-color: #3333332c;
    color: #4f95f7;
    padding: 10px;
    height: auto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 20px;
    display: flex;
}
nav li{
    margin-right: 20px;
}
nav a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
}
a:hover{
    color: #4f95f7;
    text-decoration: underline;
}
main{
    padding: 20px;
    color: #ffffff;
    background-color: #00000082;
    height: 100vh;
}
main h2{
    text-align: center;
    padding: 30px;
    text-decoration: underline;
}



